<!-- Banner de Promoção (será inserido automaticamente pelo JavaScript) -->
<!-- <div class="promo-header-banner" id="promo-header-banner">...</div> -->

<!-- Header Component -->
<header>
    <div class="header-container">
        <div class="logo">
            <a href="../index.html" style="display: flex; align-items: center; height: 100%;">
                <img src="../2.png" alt="Girosa Beauty Logo" style="max-height: 100%;">
            </a>
        </div>
        <div class="mobile-menu">
            <i class="fas fa-bars"></i>
        </div>
        <nav>
            <ul>
                <li><a href="../index.html">Início</a></li>
                <li><a href="../pages/sobre.html">Quem Somos</a></li>
                <li><a href="../pages/agendar.html">Serviços</a></li>
                <li><a href="../pages/afiliate.html">Afiliador GB</a></li>
                <li><a href="../pages/noticia.html">Notícias</a></li>
            </ul>
        </nav>
    </div>
</header>